<div class="flexContainer">
    {{#each data}}
        <div class="containerBgArtist" style="background-image: url({{images.0.url}});">
            <a href="albums/{{id}}">
                {{name}}
            </a>
        </div>
    {{/each}}
</div>